body{
    background-image: url(./imagens/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

#caixa{
    border: 1px solid red;
    width: 360px;
    height: 712px;
    margin: auto;
}




